###################################
#
#    global ".gitignore"
#
###################################

###################################
#    Emacs temporary files
###################################
*~
\#*
.\#*

###################################
#    Vi temporary files
###################################
.swp

build/
